In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
cv=CountVectorizer()

In [2]:
# lis=["abhishek is good boy","ankit is not a bad girl"]
# cv=CountVectorizer()
# cm=cv.fit_transform(lis)
# cm.toarray()
# cosine_similarity(cm)

In [2]:
data=pd.read_csv("movie_dataset.csv")
data

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,4798,220000,Action Crime Thriller,NaN,9367,united states\u2013mexico barrier legs arms pa...,es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,"[{'name': 'Robert Rodriguez', 'gender': 0, 'de...",Robert Rodriguez
4799,4799,9000,Comedy Romance,NaN,72766,NaN,en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...,"[{'name': 'Edward Burns', 'gender': 2, 'depart...",Edward Burns
4800,4800,0,Comedy Drama Romance TV Movie,http://www.hallmarkchannel.com/signedsealeddel...,231617,date love at first sight narration investigati...,en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,"[{'name': 'Carla Hetland', 'gender': 0, 'depar...",Scott Smith
4801,4801,0,NaN,http://shanghaicalling.com/,126186,NaN,en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...,"[{'name': 'Daniel Hsia', 'gender': 2, 'departm...",Daniel Hsia
4802,4802,0,Documentary,NaN,25975,obsession camcorder crush dream girl,en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,Drew Barrymore Brian Herzlinger Corey Feldman ...,"[{'name': 'Clark Peterson', 'gender': 2, 'depa...",Brian Herzlinger

In [5]:
data.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [6]:
data.cast[0]

'Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang Michelle Rodriguez'

In [7]:
clm=['index', 'id','original_title','genres','keywords','cast','director']

In [8]:
data=data[clm]

In [8]:
# data.genres.isnull().sum()

In [9]:
data.genres=data.genres.fillna("")
data.keywords=data.keywords.fillna("")
data.cast=data.cast.fillna("")
data.director=data.director.fillna("")

C:\Users\absk8\Anaconda3\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [10]:
# data

In [10]:
data.original_title.head(50)

0                                          Avatar
1        Pirates of the Caribbean: At World's End
2                                         Spectre
3                           The Dark Knight Rises
4                                     John Carter
5                                    Spider-Man 3
6                                         Tangled
7                         Avengers: Age of Ultron
8          Harry Potter and the Half-Blood Prince
9              Batman v Superman: Dawn of Justice
10                               Superman Returns
11                              Quantum of Solace
12     Pirates of the Caribbean: Dead Man's Chest
13                                The Lone Ranger
14                                   Man of Steel
15       The Chronicles of Narnia: Prince Caspian
16                                   The Avengers
17    Pirates of the Caribbean: On Stranger Tides
18                                 Men in Black 3
19      The Hobbit: The Battle of the Five Armies
20                         The Amazing Spider-Man
21                                     Robin Hood
22            The Hobbit: The Desolation of Smaug
23                             The Golden Compass
24                                      King Kong
25                                        Titanic
26                     Captain America: Civil War
27                                     Battleship
28                                 Jurassic World
29                                        Skyfall
30                                   Spider-Man 2
31                                     Iron Man 3
32                            Alice in Wonderland
33                          X-Men: The Last Stand
34                            Monsters University
35            Transformers: Revenge of the Fallen
36                Transformers: Age of Extinction
37                     Oz: The Great and Powerful
38                       The Amazing Spider-Man 2
39                                   TRON: Legacy
40                                         Cars 2
41                                  Green Lantern
42                                    Toy Story 3
43                           Terminator Salvation
44                                      Furious 7
45                                    World War Z
46                     X-Men: Days of Future Past
47                        Star Trek Into Darkness
48                          Jack the Giant Slayer
49                               The Great Gatsby
Name: original_title, dtype: object

In [11]:
data.genres.isnull().sum()

0

In [12]:
def combine(row):
    return str(row["genres"]+" "+row["keywords"]+" "+row["cast"]+row["director"])

In [13]:
data["combine"]=data.apply(combine,axis=1)

C:\Users\absk8\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
data["combine"][0]

'Action Adventure Fantasy Science Fiction culture clash future space war space colony society Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang Michelle RodriguezJames Cameron'

In [26]:
data

,index,id,original_title,genres,keywords,cast,director,combine
0,0,19995,Avatar,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron,Action Adventure Fantasy Science Fiction cultu...
1,1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski,Adventure Fantasy Action ocean drug abuse exot...
2,2,206647,Spectre,Action Adventure Crime,spy based on novel secret agent sequel mi6,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes,Action Adventure Crime spy based on novel secr...
3,3,49026,The Dark Knight Rises,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,Christian Bale Michael Caine Gary Oldman Anne ...,Christopher Nolan,Action Crime Drama Thriller dc comics crime fi...
4,4,49529,John Carter,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton,Action Adventure Science Fiction based on nove...
...,...,...,...,...,...,...,...,...
4798,4798,9367,El Mariachi,Action Crime Thriller,united states\u2013mexico barrier legs arms pa...,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,Robert Rodriguez,Action Crime Thriller united states\u2013mexic...
4799,4799,72766,Newlyweds,Comedy Romance,,Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...,Edward Burns,Comedy Romance Edward Burns Kerry Bish\u00e9 ...
4800,4800,231617,"Signed, Sealed, Delivered",Comedy Drama Romance TV Movie,date love at first sight narration investigati...,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,Scott Smith,Comedy Drama Romance TV Movie date love at fir...
4801,4801,126186,Shanghai Calling,,,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...,Daniel Hsia,Daniel Henney Eliza Coupe Bill Paxton Alan R...
4802,4802,25975,My Date with Drew,Documentary,obsession camcorder crush dream girl,Drew Barrymore Brian Herzlinger Corey Feldman ...,Brian Herzlinger,Documentary obsession camcorder crush dream gi...

In [27]:
data.to_csv('movie.csv',index=False)

In [16]:
cm=cv.fit_transform(data["combine"])

In [37]:
data[data.original_title=='The Avengers']["id"].values[0]

24428

In [17]:
# cm.toarray()

In [18]:
# len(cm.toarray()[0])

In [19]:
# len(cosine_similarity(cm)[0])

In [20]:
# list(enumerate(cosine_similarity(cm)[0]))

In [21]:
# relate=pd.DataFrame(list(enumerate(cosine_similarity(cm)[0])))
# relate["accuracy"]=relate.iloc[:][1]
# lp=data[relate.accuracy>0.28]["index"].to_numpy()
# data[data.original_title=='Aliens']["index"].values[0]
# for i in lp:
#     print(data[data.index==i]["original_title"].values[0])

In [39]:
def suggetion(mvnm):
    ind=data[data.original_title==mvnm]["index"].values[0]
    relate=pd.DataFrame(list(enumerate(cosine_similarity(cm)[ind])))
    relate["accuracy"]=relate.iloc[:][1]
    lp=data[relate.accuracy>0.28]["index"].to_numpy()
    kl=[]
    for i in lp:
        kl.append(data[data.index==i]["id"].values[0])
    return kl

In [41]:
suggetion("The Avengers")

[99861,
 209112,
 49521,
 24428,
 271110,
 68721,
 36668,
 102382,
 127585,
 246655,
 1726,
 10138,
 100402,
 118340,
 49538,
 76338,
 10195,
 13183,
 1771,
 1724,
 102899,
 36658,
 36657,
 8285,
 293660,
 8536,
 15268,
 10336]

In [22]:
data[data.original_title=="The Helix... Loaded"]

,index,id,original_title,genres,keywords,cast,director,combine
4401,4401,43630,The Helix... Loaded,Action Comedy Science Fiction,,,,Action Comedy Science Fiction

In [23]:
data[data.original_title=="Zombie Hunter"]

,index,id,original_title,genres,keywords,cast,director,combine
4425,4425,206213,Zombie Hunter,Comedy Action Science Fiction Thriller,mutant post-apocalyptic zombie,Martin Copping Danny Trejo Clare Niederpruem T...,Kevin King,Comedy Action Science Fiction Thriller mutant ...